# R and RStudio project files
# ----------------------------------------
.Rproj.user/        # RStudio project settings
.Rhistory          # R command history
.RData              # personal workspace stuff
.Ruserdata          # Personal settings
.Rapp.history
# temp mac files
.DS_Store
# Quarto files
*_files/
*_cache/
.Rproj.user
.Rhistory
#targets stuff 
_targets/

#temp 
temp/